//STYLE DE NOTRE HEADER

header{
  background-color: $color-side;

    .profile{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      padding:40px;

    }

    .profile-image{
      height: 150px;
      width: 150px;

      border:4px solid $white;
      border-radius:50%;

      margin-bottom:20px;
      overflow: hidden;


    }

    h1,p{
      color:$white;
    }

    h1{
      margin:0 0 5px 0;
    }

    p{
      margin:0;

      font-size: rem(18);
    }

}

