// STYLES DES ÉLÉMENTS DE NAVIGATION

// Bouton menu



//Navigation principale

.nav-principale{

  .show-menu{
    display: block;
    text-align: center;

    color: $white;
    background-color: #555;
    padding:10px 0;

  }
  .toggle-menu{
    display: none;
  }

  .toggle-menu:checked + ul{
    display:block}


  ul{
      margin:0;
      padding:0;
      display: none;


        a{
          color: $white;
          display: flex;
          padding:15px 40px;

          i{
            font-size: rem(24);
            margin-right:15px;

          }

          &:hover{
            background-color:$color-hover;

          }

          &:active, &.active{
            background-color:$color-active;

          }

        }
    }



}


// STYLE DE LA SOCIAL NAV