//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base
$white:#fff;
$black:#000;


$txt-color:#777;

$color-bg:$white;
$color-side:#5f6d7e;

$color-h2:#555;

$color-link:$white;
$color-hover:darken($color-side,5%);
$color-active:darken($color-side,15%);